---
apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-config
  namespace: $KUBE_NAMESPACE
  labels:
    app: $CI_ENVIRONMENT_SLUG
data:
  POSTGRES_DB: ${CI_PROJECT_NAME}
  POSTGRES_PASSWORD: ${CI_PROJECT_NAME}SecretPass
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: postgres-pv-claim
  namespace: $KUBE_NAMESPACE
  labels:
    app: $CI_ENVIRONMENT_SLUG
spec:
  storageClassName: do-block-storage
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: $KUBE_NAMESPACE
  labels:
    app: $CI_ENVIRONMENT_SLUG
    space: $KUBE_NAMESPACE
    track: stable
spec:
  selector:
    matchLabels:
      name: postgres-$CI_ENVIRONMENT_SLUG
      app: $CI_ENVIRONMENT_SLUG
      service: postgres-$CI_ENVIRONMENT_SLUG
      track: stable
      space: $KUBE_NAMESPACE
  replicas: 1
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        name: postgres-$CI_ENVIRONMENT_SLUG
        app: $CI_ENVIRONMENT_SLUG
        service: postgres-$CI_ENVIRONMENT_SLUG
        track: stable
        space: $KUBE_NAMESPACE
    spec:
      containers:
        - name: postgres-$CI_ENVIRONMENT_SLUG
          image: postgres:13
          imagePullPolicy: "IfNotPresent"
          ports:
            - containerPort: 5432
          resources:
            requests:
              memory: "128Mi"
              cpu: "50m"
            limits:
              cpu: "100m"
              memory: "256Mi"
          envFrom:
            - configMapRef:
                name: postgres-config
          volumeMounts:
            - mountPath: /var/lib/postgresql/
              name: postgredb
      volumes:
        - name: postgredb
          persistentVolumeClaim:
            claimName: postgres-pv-claim
---
apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: $KUBE_NAMESPACE
  labels:
    app: postgres
spec:
  ports:
   - port: 5432
  selector:
    app: $CI_ENVIRONMENT_SLUG
    service: postgres-$CI_ENVIRONMENT_SLUG
