# Default Image
image: quay.io/lifechurch/k8s-deploy-helper:latest

variables:
  BINARY_NAME: $CI_PROJECT_NAME
  KUBE_DOMAIN: k8s.sinfin.io

stages:
  - base
  - test
  - packages
  - dockerbuild
  - review
  - staging
  - production
  - taglatest

base:
  before_script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
    - ./scripts/build_docker.sh base
  stage: base
  interruptible: false
  only:
    refs:
      - branches
    changes:
      - scripts/build_docker.sh
      - Dockerfile.base

test:
  image: $CI_REGISTRY_IMAGE/base:latest
  services:
    - postgres:13-alpine
    - redis:latest
  variables:
    POSTGRES_DB: test_db
    POSTGRES_USER: test_db
    POSTGRES_PASSWORD: test_db
    DB_HOST: postgres
    DB_NAME: test_db
    DB_USER: test_db
    DB_PASSWORD: test_db
  cache:
    key:
      files:
        - Gemfile.lock
    paths:
      - vendor
  script:
    - echo "danger" > $CI_PROJECT_DIR/success
    - gem install bundler -v=2.2.24
    - bundle config set without 'development' && bundle config set path 'vendor/ruby' && bundle install --jobs $( nproc )
    - ./scripts/prepare_test.sh
    - RAILS_ENV=test bundle exec rake db:environment:set 2>/dev/null || echo 'Not setting env.'
    - RAILS_ENV=test bundle exec rake db:migrate
    - rm -f log/test.log
    - PARALLEL_WORKERS=$( nproc ) bundle exec rails test
    - echo "good" > $CI_PROJECT_DIR/success
  stage: test
  interruptible: true
  after_script:
    - ./scripts/webhook.sh "$(cat $CI_PROJECT_DIR/success)"
  only:
    - branches

packages:
  before_script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
    - ./scripts/build_docker.sh packages
  stage: packages
  interruptible: false
  only:
    refs:
      - branches
    changes:
      - scripts/build_docker.sh
      - Dockerfile.base
      - Dockerfile.packages
      - Gemfile.lock

docker_build:
  before_script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
    - cp .env.sample .env
    - ./scripts/build_docker.sh app
  stage: dockerbuild
  interruptible: true
  only:
    - branches

review:
  stage: review
  dependencies: []
  image:
    name: alpine/k8s:1.20.4
    entrypoint: [""]
  script:
    - echo KUBE_NAMESPACE - $KUBE_NAMESPACE
    - helm repo add sinfin https://sinfin1.gitlab.io/infra/helm
    - |
      helm upgrade --install --wait --atomic --timeout 10m \
      --create-namespace \
      --values k8s/values-review.yaml \
      --set image.repository=$CI_REGISTRY_IMAGE \
      --set image.tag=$CI_COMMIT_SHA \
      --set dockerRegistrySecret.registry="$CI_REGISTRY" \
      --set dockerRegistrySecret.username="$CI_DEPLOY_USER" \
      --set dockerRegistrySecret.password="$CI_DEPLOY_PASSWORD" \
      --set gitlab.app=$CI_PROJECT_PATH_SLUG \
      --set gitlab.env=$CI_ENVIRONMENT_SLUG \
      --set baseDomain=$KUBE_NAMESPACE.$KUBE_DOMAIN \
      --set commitHash=$CI_COMMIT_SHORT_SHA \
      --namespace=$KUBE_NAMESPACE \
      $KUBE_NAMESPACE sinfin/app
  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: https://$KUBE_NAMESPACE.$KUBE_DOMAIN
    on_stop: stop_review
  when: manual
  only:
    - branches
  except:
    - master

stop_review:
  stage: review
  dependencies: []
  image:
    name: alpine/k8s:1.20.4
    entrypoint: [""]
  variables:
    GIT_STRATEGY: none
  script:
    - helm uninstall $KUBE_NAMESPACE -n $KUBE_NAMESPACE
    - kubectl delete namespace "$KUBE_NAMESPACE"
  environment:
    name: review/$CI_COMMIT_REF_NAME
    action: stop
  when: manual
  only:
    - branches
  except:
    - master

staging:helm:
  stage: staging
  dependencies: []
  image:
    name: alpine/k8s:1.20.4
    entrypoint: [""]
  script:
    - echo KUBE_NAMESPACE - $KUBE_NAMESPACE
    - helm repo add sinfin https://sinfin1.gitlab.io/infra/helm
    - |
      helm upgrade --install --wait --atomic --timeout 10m \
      --create-namespace \
      --values k8s/values-staging.yaml \
      --set image.repository=$CI_REGISTRY_IMAGE \
      --set image.tag=$CI_COMMIT_SHA \
      --set dockerRegistrySecret.registry="$CI_REGISTRY" \
      --set dockerRegistrySecret.username="$CI_DEPLOY_USER" \
      --set dockerRegistrySecret.password="$CI_DEPLOY_PASSWORD" \
      --set gitlab.app=$CI_PROJECT_PATH_SLUG \
      --set gitlab.env=$CI_ENVIRONMENT_SLUG \
      --set baseDomain=$CI_PROJECT_NAME-stage.$KUBE_DOMAIN \
      --namespace=$KUBE_NAMESPACE \
      $KUBE_NAMESPACE sinfin/app
  environment:
    name: staging
    url: http://$CI_PROJECT_NAME-stage.$KUBE_DOMAIN
    action: prepare
  when: manual
  only:
    - master

stop_staging:
  stage: staging
  dependencies: []
  image:
    name: alpine/k8s:1.20.4
    entrypoint: [""]
  variables:
    GIT_STRATEGY: none
  script:
    - helm uninstall $KUBE_NAMESPACE -n $KUBE_NAMESPACE
    - kubectl delete namespace "$KUBE_NAMESPACE"
  environment:
    name: staging
    action: stop
  when: manual
  only:
    - master

production:
  stage: production
  dependencies: []
  image:
    name: alpine/k8s:1.20.4
    entrypoint: [""]
  script:
    - echo KUBE_NAMESPACE - $KUBE_NAMESPACE
    - helm repo add sinfin https://sinfin1.gitlab.io/infra/helm
    - |
      helm upgrade --install --wait --atomic --timeout 10m \
      --create-namespace \
      --values k8s/values-prod.yaml \
      --set image.repository=$CI_REGISTRY_IMAGE \
      --set image.tag=$CI_COMMIT_SHA \
      --set dockerRegistrySecret.registry="$CI_REGISTRY" \
      --set dockerRegistrySecret.username="$CI_DEPLOY_USER" \
      --set dockerRegistrySecret.password="$CI_DEPLOY_PASSWORD" \
      --set gitlab.app=$CI_PROJECT_PATH_SLUG \
      --set gitlab.env=$CI_ENVIRONMENT_SLUG \
      --namespace=$KUBE_NAMESPACE \
      $KUBE_NAMESPACE sinfin/app
  environment:
    name: staging
    url: http://$CI_PROJECT_NAME-prod.$KUBE_DOMAIN
    action: prepare
  when: manual
  only:
    - master

taglatest:
  stage: taglatest
  dependencies: []
  allow_failure: false
  script:
    - command push
  only:
    - master
