# Default Image
image: quay.io/lifechurch/k8s-deploy-helper:latest

variables:
  BINARY_NAME: $CI_PROJECT_NAME
  KUBE_DOMAIN: k8s.sinfin.io

stages:
  - base
  - test
  - packages
  - dockerbuild
  - review
  - staging
  - production
  - taglatest

base:
  before_script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
    - ./scripts/build_docker.sh base
  stage: base
  interruptible: false
  only:
    refs:
      - branches
    changes:
      - scripts/build_docker.sh
      - Dockerfile.base

test:
  image: $CI_REGISTRY_IMAGE/base:latest
  services:
    - postgres:13-alpine
    - redis:latest
  variables:
    POSTGRES_DB: test_db
    POSTGRES_USER: test_db
    POSTGRES_PASSWORD: test_db
    DB_HOST: postgres
    DB_NAME: test_db
    DB_USER: test_db
    DB_PASSWORD: test_db
  cache:
    key:
      files:
        - Gemfile.lock
    paths:
      - vendor
  script:
    - echo "danger" > $CI_PROJECT_DIR/success
    - gem install bundler -v=2.2.24
    - bundle config set without 'development' && bundle config set path 'vendor/ruby' && bundle install --jobs $( nproc )
    - ./scripts/prepare_test.sh
    - RAILS_ENV=test bundle exec rake db:environment:set 2>/dev/null || echo 'Not setting env.'
    - RAILS_ENV=test bundle exec rake db:migrate
    - rm -f log/test.log
    - PARALLEL_WORKERS=$( nproc ) bundle exec rails test
    - echo "good" > $CI_PROJECT_DIR/success
  stage: test
  interruptible: true
  after_script:
    - ./scripts/webhook.sh "$(cat $CI_PROJECT_DIR/success)"
  only:
    - branches

packages:
  before_script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
    - ./scripts/build_docker.sh packages
  stage: packages
  interruptible: false
  only:
    refs:
      - branches
    changes:
      - scripts/build_docker.sh
      - Dockerfile.base
      - Dockerfile.packages
      - Gemfile.lock

docker_build:
  before_script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  script:
    - cp .env.sample .env
    - ./scripts/build_docker.sh app
  stage: dockerbuild
  interruptible: true
  only:
    - branches

review:
  stage: review
  dependencies: []
  script:
    - command deploy
  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: http://$CI_PROJECT_NAME-$CI_ENVIRONMENT_SLUG.$KUBE_DOMAIN
    on_stop: stop_review
  when: manual
  only:
    - branches
  except:
    - master

stop_review:
  stage: review
  dependencies: []
  variables:
    GIT_STRATEGY: none
  script:
    - command destroy
    - kubectl delete namespace "$KUBE_NAMESPACE"
  environment:
    name: review/$CI_COMMIT_REF_NAME
    action: stop
  when: manual
  only:
    - branches
  except:
    - master

staging:
  stage: staging
  dependencies: []
  script:
    - command deploy
  environment:
    name: staging
    url: http://$CI_PROJECT_NAME-stage.$KUBE_DOMAIN
    on_stop: stop_staging
  when: manual
  only:
    - master

stop_staging:
  stage: staging
  dependencies: []
  variables:
    GIT_STRATEGY: none
  script:
    - command destroy
    - kubectl delete namespace "$KUBE_NAMESPACE"
  environment:
    name: staging
    action: stop
  when: manual
  only:
    - master

production:
  stage: production
  dependencies: []
  script:
    - command deploy
  environment:
    name: production
    url: http://$CI_PROJECT_NAME-prod.$KUBE_DOMAIN
  when: manual
  allow_failure: false
  only:
    - master

taglatest:
  stage: taglatest
  dependencies: []
  allow_failure: false
  script:
    - command push
  only:
    - master
