name: Mirror and run GitLab CI

on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Mirror + trigger CI
      uses: SvanBoxel/gitlab-mirror-and-ci-action@master
      with:
        args: "https://gitlab.com/<namespace>/<project>"
      env:
        GITLAB_HOSTNAME: "gitlab.com"
        GITLAB_USERNAME: "gitlab.sinfin"
        GITLAB_PASSWORD: ${{ secrets.GITLAB_PASSWORD }}
# Generate here: https://gitlab.com/profile/personal_access_tokens
        GITLAB_PROJECT_ID: ""
# https://gitlab.com/<namespace>/<repository>/edit
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
# https://docs.github.com/en/actions/reference/authentication-in-a-workflow#about-the-github_token-secret
